.container {
  padding-top: 100px;
}

.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

input:nth-child(3n) {
  border-right: 5px solid black;
}

input:nth-child(3n-2) {
  border-left: 5px solid black;
}
